@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.relative.mb-28 {
  display: flex;
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Align children horizontally */
  justify-content: center; /* Align children vertically */
  height: 100vh; /* Make the div take the full height of the viewport */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.desktop-logo {
  width: auto;
  height: 2.75rem;
}

.mobile-logo {
  width: 2.75rem;
  height: auto;
}

.btn-disabled {
  opacity: 0.6;
  cursor: default;
}

.outline-customized {
  outline: solid 2.5px;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-backgroundcolor: #fff;
  transition: background-color 5000s ease-in-out 0s;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-text-fill-backgroundcolor: #fff;
  transition: background-color 5000s ease-in-out 0s;
}

.thumb {
  width: 100%;
  height: 100%;
  position: relative;
}

.thumb-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.thumb img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* In your CSS file */
img {
  pointer-events: none; /* Disable click events on the image */
  user-select: none; /* Disable selection of the image */
}

/* Optionally, disable right-click context menu */
img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* globals.css or relevant CSS file */
.progress-container {
  background-color: #f3f3f3;
  height: 4px;
  width: 100%;
  overflow: hidden;
  margin-top: -8px;
}

.progress-bar {
  height: 100%;
  background-color: black;
  transition: width 0.4s ease-in; /* Adjust duration and easing as needed */
}

.custom-bullet li {
  position: relative;
  padding-left: 1em; /* Adjust as needed */
}
.custom-bullet li::before {
  content: "∙"; /* Unicode bullet character */
  position: absolute;
  left: 0;
  font-size: 1.25em; /* Adjust size here */
  color: currentColor; /* Ensures it inherits text color */
  line-height: 1.2; /* Adjust as needed */
}
